@page "/chats"
@attribute [Authorize]
@inject IChatService _chatService
@inject NavigationManager NavigationManager

<PageTitle>Chats</PageTitle>
<h1>Chats</h1>
@if(_Chats != null && _Chats.Count > 0)
{
    foreach(var chat in _Chats)
    {
        var members = "Chat: ";
        foreach (var user in chat.JoinedChatUsers)
        {
            members = members + user.UserName + "; ";
        }
        <p>@members</p>
        <button class="btn btn-outline-primary" onclick="@(()=>GoToChat(chat.ChatId))">Go to Chat</button>
        <br/>
    }
}

@code {
    [CascadingParameter]
    public string? UserId { get; set; }
    private List<Chat>? _Chats { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _Chats = _chatService.GetUserChats(UserId);
        await base.OnParametersSetAsync();
    }

    private void GoToChat(Guid chatId)
    {
        NavigationManager.NavigateTo($"chat/{chatId}");        
    }
}
