@page "/"

<PageTitle>Chat Challenge</PageTitle>

<h1>.Net Challenge</h1>

<h2>Description</h2>
<p>This project is designed to test your knowledge of back-end web technologies, specifically in
.NET and assess your ability to create back-end products with attention to details, standards,
and reusability.</p>



<h2>Assignment</h2>
<p>The goal of this exercise is to create a simple browser-based chat application using .NET.
This application should allow several users to talk in a chatroom and also to get stock quotes
from an API using a specific command.</p>

<h2>Mandatory Features</h2>
<ul>
    <li>Allow registered users to log in and talk with other users in a chatroom.</li>
    <li>Allow users to post messages as commands into the chatroom with the following format /stock=stock_code</li>
    <li>Create a decoupled bot that will call an API using the stock_code as a parameter
(https://stooq.com/q/l/?s=aapl.us&f=sd2t2ohlcv&h&e=csv, here aapl.us is the
stock_code)</li>
    <li>The bot should parse the received CSV file and then it should send a message back into
the chatroom using a message broker like RabbitMQ. The message will be a stock quote
using the following format: “APPL.US quote is $93.42 per share”. The post owner will be
the bot..</li>
    <li>Have the chat messages ordered by their timestamps and show only the last 50
messages.</li>
    <li>Unit test the functionality you prefer.</li>
</ul>

<h2>Bonus (Optional)</h2>
<ul>
    <li>Have more than one chatroom.</li>
    <li>Use .NET identity for users authentication</li>
    <li>Handle messages that are not understood or any exceptions raised within the bot.</li>
    <li> Build an installer.</li>
</ul>

<h2>Considerations</h2>
<ul>
    <li>We will open 2 browser windows and log in with 2 different users to test the
functionalities.</li>
    <li>The stock command won’t be saved on the database as a post.</li>
    <li>The project is totally focused on the backend; please have the frontend as simple as you
can.</li>
    <li>Keep confidential information secure.</li>
    <li>Pay attention if your chat is consuming too many resources.</li>
    <li>Keep your code versioned with Git locally.</li>
    <li>Feel free to use small helper libraries.</li>
</ul>





<h2>Deliverables</h2>
<p>When you finish the assignment, send a zip file (don’t forget to include the .git/ folder.) or upload
your project to your Git repo (Github, BitBucket, etc...) and share the repository link with your
initial contact via email. Indicate which, if any, of the bonus tasks you completed.
If you didn’t manage to finish everything, please tell us which parts you completed.</p>